<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:contex="http://www.springframework.org/schema/context"
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
    
    <aop:aspectj-autoproxy/>
    <bean id="manager" class="com.zihad.model.Manager">
        <property name="name" value="Manager Name"/>
    </bean>
    
     <bean id="accountant" class="com.zihad.model.Accountant">
        <property name="name" value="Accountant Name"/>
    </bean>
    <bean id="empservice" class="com.zihad.service.Empservice" autowire="byName">
        
    </bean>
    <contex:component-scan base-package="com.zihad.aspect"/>
    
</beans>